{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <title>Upbond - Responsive Admin Dashboard Template</title>
    <meta content="Admin Dashboard" name="description"/>
    <meta content="ThemeDesign" name="author"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <link rel="shortcut icon" href='{% static "assets/images/favicon.ico" %}'>

    <link href='{% static "/assets/css/bootstrap.min.css" %}' rel="stylesheet" type="text/css">
    <link href='{% static "/assets/css/icons.css" %}' rel="stylesheet" type="text/css">
    <link href='{% static "/assets/css/style.css" %}' rel="stylesheet" type="text/css">

</head>


<body class="fixed-left">

<!-- Begin page -->
<div id="wrapper">

    <!-- Top Bar Start -->
    <div class="topbar">
        <!-- LOGO -->
        <div class="topbar-left">
            <div class="text-center">
                <!--<a href="index.html" class="logo"><span>Up</span>Bond</a>-->
                <!--<a href="index.html" class="logo-sm"><span>U</span></a>-->
                <a href="{% url 'index' %}" class="logo"><img src='{% static "assets/images/logo.png" %}' height="20"
                                                              alt="logo"></a>
                <a href="{% url 'index' %}" class="logo-sm"><img src='{% static "assets/images/logo_sm.png" %}'
                                                                 height="30"
                                                                 alt="logo"></a>
            </div>
        </div>
        <!-- Button mobile view to collapse sidebar menu -->
        <div class="navbar navbar-default" role="navigation">
            <div class="container">
                <div class="">
                    <div class="pull-left">
                        <button type="button" class="button-menu-mobile open-left waves-effect waves-light">
                            <i class="ion-navicon"></i>
                        </button>
                        <span class="clearfix"></span>
                    </div>

                    {% if user.is_authenticated %}
                        <!-- Menu para cerrar sesion -->
                        <ul class="nav navbar-nav navbar-right pull-right">
                            <li class="dropdown">
                                <a href="" class="dropdown-toggle profile waves-effect waves-light"
                                   data-toggle="dropdown"
                                   aria-expanded="true">
                                <span class="profile-username">
                                            {{ active_user }} <span class="caret"></span>
                                        </span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'logout' %}"> Cerrar Sesión</a></li>
                                </ul>
                            </li>
                        </ul>
                        <!-- Menu para cerrar sesion FIN-->
                    {% endif %}

                </div>
                <!--/.nav-collapse -->
            </div>
        </div>
    </div>
    <!-- Top Bar End -->


    <!-- ========== Left Sidebar Start ========== -->

    <div class="left side-menu">
        <div class="sidebar-inner slimscrollleft">

            <!--- Divider -->
            <div id="sidebar-menu">
                <ul>
                    {% if not user.is_authenticated %}
                        <li class="has_sub active nav-active">
                            <a href="javascript:void(0);" class="waves-effect"><i
                                    class="mdi mdi-account-key"></i><span> Ingreso </span><span class="pull-right"><i
                                    class="mdi mdi-chevron-right"></i></span></a>
                            <ul class="list-unstyled">
                                <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
                                <li><a href="{% url 'registro' %}">Registrarse</a></li>
                            </ul>
                        </li>
                    {% else %}
                        <li class="has-sub active nav-active">
                            <a href="javascript:void(0);" class="waves-effect"><i
                                    class="mdi mdi-calendar-clock"></i><span> Eventos </span><span class="pull-right"><i
                                    class="mdi mdi-chevron-right"></i></span></a>
                            <ul class="list-unstyled">
                                <li><a href="{% url 'index' %}">Crear evento</a></li>
                                <li><a href="{% url 'index' %}">Listar eventos</a></li>
                            </ul>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <div class="clearfix"></div>
        </div> <!-- end sidebarinner -->
    </div>
    <!-- Left Sidebar End -->

    <!-- Start right Content here -->

    <div class="content-page">

        {% block content %}
            <!-- Aquí va el contenido de la página -->
        {% endblock %}

        <footer class="footer">
            © 2018 - Universidad De los Andes
        </footer>

    </div>
    <!-- End Right content here -->

</div>
<!-- END wrapper -->


<!-- jQuery  -->
<script src='{% static "assets/js/jquery.min.js" %}'></script>
<script src='{% static "assets/js/bootstrap.min.js" %}'></script>
<script src='{% static "assets/js/modernizr.min.js" %}'></script>
<script src='{% static "assets/js/detect.js" %}'></script>
<script src='{% static "assets/js/fastclick.js" %}'></script>
<script src='{% static "assets/js/jquery.slimscroll.js" %}'></script>
<script src='{% static "assets/js/jquery.blockUI.js" %}'></script>
<script src='{% static "assets/js/waves.js" %}'></script>
<script src='{% static "assets/js/wow.min.js" %}'></script>
<script src='{% static "assets/js/jquery.nicescroll.js" %}'></script>
<script src='{% static "assets/js/jquery.scrollTo.min.js" %}'></script>

<script src='{% static "assets/js/app.js" %}'></script>

</body>
</html>