{% extends 'base.html' %}

{% block content %}

    <!-- Start content -->
    <div class="content">

        <div class="">
            <div class="page-header-title">
                <h4 class="page-title">Bienvenido al Gestor de Eventos</h4>
            </div>
        </div>

        <div class="page-content-wrapper ">
            <div class="container">
                <h3>Hola mundo!</h3>
            </div><!-- container -->
        </div> <!-- Page content Wrapper -->
    </div> <!-- content -->

{% endblock %}