{% extends 'base.html' %}

{% block content %}

    <!-- Start content -->
    <div class="content">

        <div class="">
            <div class="page-header-title">
                <h4 class="page-title">Bienvenido al Gestor de Eventos</h4>
            </div>
        </div>

        <div class="page-content-wrapper ">
            <div class="container">

                <div class="panel panel-color panel-dark">
                    <div class="panel-heading">
                        <h3 class="panel-title">Prototipo funcional del gestor de eventos</h3>
                    </div>
                    <div class="panel-body">
                        <p>La empresa ABC desea desarrollar un prototipo funcional de una aplicación web que permitirá
                            manejar eventos. Un evento está compuesto de un nombre, una categoría (las cuatro posibles
                            categorías son: Conferencia, Seminario, Congreso o Curso), un lugar, una dirección, una
                            fecha de inicio y una fecha de fin, y si el evento es presencial o virtual.</p>
                    </div>
                </div>

                <div class="panel panel-color panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Guía de uso</h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li><p>Debe registrarse en el sistema para poder crear eventos.</p></li>
                            <li><p>Inicie sesión para acceder a las opciones de los eventos</p></li>
                        </ul>

                    </div>
                </div>

            </div><!-- container -->
        </div> <!-- Page content Wrapper -->
    </div> <!-- content -->

{% endblock %}